{% extends "homepage/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-6">
            <h2>Register</h2>
            <form action="." method="POST">
                {% csrf_token %}
                <input name="user" class="form-control">
                <input name="password" class="form-control">
                <input class="btn btn-success" value="Add" type="submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}